.header {

    background: url(../../img/background/main-banner.png) left 80% top/ auto no-repeat, url(../../img/background/main_bg_right.png) right top/contain no-repeat, url(../../img/background/main_bg_left.png) left top / contain no-repeat;
    padding-bottom: 200px;

    &__container {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 130px;
        margin-bottom: 102px;
    }

    &__body-logo {
        transition: opacity 0.6s ease;
        &:hover{
            opacity: 0.6;
        }
    }

    &__body-nav {
        display: flex;
        align-items: center;
    }

    &__nav-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 88px;
        align-items: center;
    }

    &__nav-item {
    }

    &__nav-link {
        transition: all 0.4s ease;
        &:hover{
            text-decoration: underline;
            color: #c3c3c3;
        }
    }

    &__body-currency {
        background-color: inherit;
        color: #fff;
        font-family: 'Merriweather';
        padding: 12px 17px;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.6s;
        &:hover{
            background-color: #642315;
        }
    }
}
.header {

    &__main {
        
    }

    &__main-content {
        max-width: 608px;
    }

    &__main-subtitle {
        font-size: 18px;
        background-color: #D3320F;
        padding: 12px 16px;
        border-radius: 100px;
        display: inline-block;
    }

    &__main-title {
        text-transform: uppercase;
        font-size: 120px;
        line-height: 1.3;
        font-family: "Merriweather";
        margin-bottom: 56px;
    }

    &__main-text {
        margin-bottom: 56px;
    }

    &__main-link {
    }

    &__main-banner{
        position: absolute;
        top: 0;
        left: 0;
        img{
            
        }
    }
}


